Repository shchegol/reactive-battle, pull requests merged in 2021-03, with the labels that each got.

#124 105 theme api
  package.json
  src/api/LeaderboardAPI.ts
  src/components/app/App.tsx
  src/server/database/sequelize.ts
  src/server/index.ts
  src/server/middlewares/auth.tsx
  src/server/middlewares/render.tsx
  src/server/models/siteTheme.ts
  src/server/models/userTheme.ts
  src/server/routes/commentRouterFactory.ts
  src/server/routes/index.ts
  src/server/routes/themesRoutes.ts
  src/server/routes/topicRouterFactory.ts
  src/server/routes/userThemeRoutes.ts
  src/server/server.ts
  tsconfig.json
  webpack/ssr/server.js
  webpack/webpack.common.js
Labels: API, server, спринт 4

#126 #100 mongo feedback
  .dockerignore
  .env.example
  .env.local.example
  .gitignore
  README.md
  docker-compose.yml
  mongo-init.sh
  package-lock.json
  package.json
  src/api/FeedbackAPI.ts
  src/components/app/App.tsx
  src/pages/feedback/Feedback.tsx
  src/pages/feedback/feedBackForm/FeedbackForm.tsx
  src/pages/feedback/feedBackForm/index.ts
  src/pages/feedback/feedBackForm/types.ts
  src/pages/game/Game.tsx
  src/pages/profileEdit/ProfileEdit.tsx
  src/server/database/mongoose.ts
  src/server/database/sequelize.ts
  src/server/index.ts
  src/server/models/review.ts
  src/server/routes/index.ts
  src/server/routes/reviewRouterFactory.ts
  src/server/server.ts
  src/store/actions/feedback.ts
  src/store/actions/types.ts
  src/store/actionsCreators/feedback.ts
  src/store/types.ts
  webpack/webpack.client.dev.js
  webpack/webpack.common.js
Labels: API, client, enhancement, server, спринт 4

#139 #127 theme api
  src/api/ThemeAPI.ts
  src/api/types.ts
  src/components/app/App.tsx
  src/components/avatar/Avatar.tsx
  src/components/mainTitle/MainTitle.tsx
  src/components/mainTitle/__snapshots__/MainTitle.spec.tsx.snap
  src/contexts/theme/ThemeContext.tsx
  src/contexts/theme/types.ts
  src/hocs/withLoading.tsx
  src/hooks/types.ts
  src/hooks/useAuth.ts
  src/hooks/useLoading.ts
  src/hooks/useSnackbar.ts
  src/pages/forum/Forum.tsx
  src/pages/forumTopic/ForumTopic.tsx
  src/pages/game/Game.tsx
  src/pages/game/interface/Interface.tsx
  src/pages/leaderboard/Leaderboard.tsx
  src/pages/leaderboard/playersList/PlayersList.tsx
  src/pages/loading/loading.scss
  src/pages/signin/SignIn.tsx
  src/pages/signup/SignUp.tsx
  src/server/index.ts
  src/server/middlewares/render.tsx
  src/server/routes/themesRoutes.ts
  src/server/routes/userThemeRoutes.ts
  src/store/actions/loading.ts
  src/store/actions/snackbar.ts
  src/store/actions/types.ts
  src/store/actions/user.ts
  src/store/actionsCreators/auth.ts
  src/store/actionsCreators/loading.ts
  src/store/actionsCreators/snackbar.ts
  src/store/actionsCreators/types.ts
  src/store/actionsCreators/user.ts
  src/store/reducers/auth.ts
  src/store/reducers/index.ts
  src/store/reducers/loading.ts
  src/store/reducers/snackbar.ts
  src/store/reducers/user.ts
  src/store/selectors/loading.ts
  src/store/selectors/login.ts
  src/store/types.ts
Labels: client, refactoring, спринт 4

#142 #106 security check
  .env.example
  .env.local.example
  Dockerfile
  README.md
  package-lock.json
  package.json
  src/server/index.ts
  src/server/middlewares/errors.ts
  src/server/middlewares/logger.ts
  src/server/middlewares/render.tsx
  src/server/routes/commentRouterFactory.ts
  src/server/routes/index.ts
  src/server/routes/themesRoutes.ts
  src/server/routes/topicRouterFactory.ts
  src/server/server.ts
  src/store/store.ts
  webpack/ssr/server.js
Labels: documentation, refactoring, server, спринт 4

#145 144 total refactoring
  src/api/AuthAPI.ts
  src/api/FeedbackAPI.ts
  src/api/ForumAPI.ts
  src/api/LeaderboardAPI.ts
  src/api/ThemeAPI.ts
  src/api/UserAPI.ts
  src/api/types.ts
  src/components/app/App.tsx
  src/components/avatar/Avatar.tsx
  src/components/button/Button.tsx
  src/components/icon/Icon.tsx
  src/components/input/Input.tsx
  src/components/mainTitle/MainTitle.tsx
  src/components/mainTitle/mainTitle.scss
  src/components/snackbar/Snackbar.tsx
  src/contexts/reply/ReplyContext.tsx
  src/contexts/theme/ThemeContext.tsx
  src/engine/AIManager.ts
  src/engine/EngineBus.ts
  src/engine/Stage.ts
  src/pages/forum/topics/Topics.tsx
  src/pages/forumTopic/ForumTopic.tsx
  src/pages/forumTopic/commentItem/CommentItem.tsx
  src/pages/forumTopic/comments/Comments.tsx
  src/pages/leaderboard/Leaderboard.tsx
  src/pages/signup/SignUp.tsx
  src/server/middlewares/errors.ts
  src/store/selectors/forum.ts
  src/styles/utilities/_themes.scss
  src/utils/apiRequest.ts
  src/utils/eventBus.ts
  src/utils/isValidDate.ts
  src/utils/objectUtils.ts
Labels: refactoring

#147 process.env on client
  .env.example
  .env.local.example
  src/constants.ts
  src/server/server.ts
  src/store/reducers/game.ts
  webpack/ssr/client.dev.js
  webpack/ssr/client.prod.js
  webpack/ssr/server.js
  webpack/webpack.common.js
Labels: bug
